// Colors    //defining variable so that it can be used later
$off-black: #20222b;
$dark-blue: #333745;
$off-white: #a5afd7;
$purple    :#8357c5;
$blue:#3c4251;
$light-blue:#464b5e;
$dark-grey:#333333;
$light-grey:#f7f7f7;
$button-color:#1c88bf;
$dark-blue:#364051;
$danger:#db1111;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//font size
$font-size-large:1.8rem;
$font-size-small:1.4rem;


